*.egg-info/
*.json
*.log
*.ltx
*.pyc
*.rpt
*.so
*.xclbin
*.xclbin.info
*.xo
.*.sw?
.Xil/
.mypy_cache/
.nfs*
.run/
.vscode/
__pycache__
_x
bin/
bit/
build/
dist/
obj/
rpt/
sdaccel_profile_summary.csv
sdaccel_profile_summary.html
tmp/
